* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: saddlebrown;
    background-image: url('./images/bg3.png');
    background-position: center cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container .parallel_btn {
    width: 300px;
    height: 50px;
    margin: 20px;
}
.container .button {
    width: 130px;
    height: 50px;
    margin: 20px;
}
.container .btn {
    position: relative;
}
.container .btn a {
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #000;
    z-index: 1;
    font-weight: 400;
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}


.container .btn:hover a {
    letter-spacing: 3px;
}

.container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.container .btn:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

.logo {
    width: 20%; 
    height: 20%; 
}

.socials {
    display: flex; flex-direction: row; justify-content: center; align-items: center; width: 300px; margin-left: 10px;
}

.socials img {
    width: 75%;
    height: 75%;
}

.download-apps {
    display: flex; flex-direction: row;
}

.text_Container {
    width: 300px; margin-top: 30px;
    display: flex;justify-content: center;align-items: center;
}

.text_Container p {
    color: #fff;
}